.post{
  /* width: 90%; */
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  vertical-align: top;
  margin: 0px 10px 10px;
  padding: 10px;
  border: 1px solid rgb(174, 172, 172);
  border-radius: 10px;
  background-color: white;
}

.round{
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-image: url('../../../images/avatar.jpg');
  background-size: cover;
  border: 1px solid grey;
}

.text{
  width: 80%;
  margin: 0;
  margin-left: 40px;
}

.likeBox{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 10px;
}

.heart{
  height: 20px;
  fill: rgb(155, 155, 155);
  cursor: pointer;
}

.likes{
  color: rgb(155, 155, 155);
  padding-left: 5px;
}

.activeHeart{
  fill: red;
}

.activeText{
  color: red;
}