.covering{
  height: 200px;
}

.banner{
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: 1px solid rgb(181, 179, 179);
}

.wrapper {
  margin-top: 10px;
  background-color: white;
  border: 1px solid rgb(181, 179, 179);
  border-radius: 10px;
}

.profile{
  height: fit-content;
  display: flex;
  padding-bottom: 10px;
}

.avatar{
  margin-top: 10px;
  width: 150px; 
  border-radius: 50%;
  border: 1px solid grey;
  margin-left: 10px;
}

.info{
  margin-left: 30px;
}

.list{
  list-style: none;
  padding: 0;
}

.name{
  font-weight: 500;
}

.contacts{
  margin-left: 10px;
  
}