body{
  background-color: rgb(200, 216, 253);
}

.app-body{
  
}

.app-wrapper{
  width: 900px;
  margin: 0 auto;
  display: grid;

  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content{
    grid-area: c;
    margin-top: 10px;
    margin-left: 10px;
}